* {
    font-family: Arial,Helvetica,'Microsoft JhengHei','微軟正黑體',sans-serif;
    box-sizing: border-box;
    outline: none;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
}

*:after,
*:before {
    box-sizing: border-box;
}

*:focus {
    box-shadow: 0px 0px 5px #0099ff;
}

.disabled-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clearboth {
    position: relative;
    display: block;
    clear: both;
    width: 100%;
}

html {
    font-size: 1em;
    width: 100%;
    height: 100%;
}

html.small-font {
    font-size: 0.875em;
}

html.large-font {
    font-size: 1.25em;
}

body {
    font-size: 1rem;
    color: #222;
    width: 100%;
    height: 100%;
    min-width: 320px;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

p,ul,ol {
    margin: 0px;
    padding: 0px;
}

a {
    color: #222;
    cursor: pointer;
    text-decoration: none;
    -webkit-touch-callout: none;
}

a:hover {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    padding: 2px;
    border: 0px;
    border-radius: 0px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

table {
    border-collapse: collapse;
}

img {
    font-size: 0px;
    max-width: 100%;
    height: auto;
    border: 0px;
    vertical-align: middle;
}

video { 
    max-width: 100%; 
    height: auto; 
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
}

textarea {
    resize: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    padding: 6px 12px;
    border: 0px;
    border-radius: 0px;
    cursor: pointer;
}

select {
    font-size: 1rem;
    line-height: 1.5;
}

.iweb {
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.iweb-macosx {
    overflow: hidden!important;
}

.iweb-disable-scroll {
    padding-right: 17px;
    overflow: hidden!important;
}

.iweb-mobile.iweb-disable-scroll {
    padding-right: 0px;
}

.iweb > .iweb-viewer {
    position: relative;
    height: 100%;
}

.iweb-editor {
    position: relative;
    line-height: 1.5;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.iweb-editor ul,
.iweb-editor ol {
    list-style-position: outside;
    padding-left: 30px;
}

.iweb-editor:before,
.iweb-editor:after {
    position: relative;
    display: block;
    clear: both;
    content: '';
    width: 100%;
}

.iweb-selector {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.iweb-selector * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.iweb-selector > .real-choice {
    position: relative;
    background: transparent;
    display: block;
    overflow: hidden;
}

.iweb-selector > .real-choice > select {
    position: relative;
    width: 100%;
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 36px;
    padding-bottom: 4px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 0px;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.iweb-selector > .real-choice > select.shidden {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.iweb-selector > .real-choice > select::-ms-expand {
    display: none;
}

.iweb-selector > .real-choice > .arrow {
    position: absolute;
    display: inline-block;
    background: transparent;
    content: '';
    width: 36px;
    height: 100%;
    top: 0px;
    right: 0px;
}

.iweb-selector > .real-choice > .arrow:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 0px; 
    height: 0px; 
    top: 50%;
    right: 13px;
    margin-top: -6px;
    border-color: #000;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    padding: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    cursor: pointer;
}

.iweb-selector > .virtual-choice {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border: 1px solid #ccc;
}

.iweb-selector > .virtual-choice * {
    cursor: pointer;
}

.iweb-selector > .virtual-choice > div {
    position: relative;
}

.iweb-selector > .virtual-choice > div > span {
    position: relative;
    background: transparent;
    display: block;
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 36px;
    padding-bottom: 4px;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.iweb-selector > .virtual-choice > div > ul {
    position: absolute;
    background: #fff;
    display: none;
    list-style: none;
    top: 100%;
    left: -1px;
    right: -1px;
    max-height: 240px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto;
    z-index: 1;
}

.iweb-selector > .virtual-choice > div > ul > li {
    position: relative;
    display: block;
}

.iweb-selector > .virtual-choice > div > ul > li > span {
    position: relative;
    display: block;
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    line-height: 1.5;
}

.iweb-selector > .virtual-choice > div > ul > li.virtual-node-selected > span,
.iweb-selector > .virtual-choice > div > ul > li > span:hover {
    background: #0c5283;
    color: #fff;
}

.iweb-selector > .virtual-choice > div > ul > li > ul {
    position: relative;
    list-style: none;
}

.iweb-selector > .virtual-choice > div > ul > li > ul > li {
    position: relative;
    display: block;
}

.iweb-selector > .virtual-choice > div > ul > li > ul > li > span {
    position: relative;
    display: block;
    padding-top: 4px;
    padding-left: 25px;
    padding-right: 12px;
    padding-bottom: 4px;
    line-height: 1.5;
}

.iweb-selector > .virtual-choice > div > ul > li > ul > li.virtual-node-selected > span,
.iweb-selector > .virtual-choice > div > ul > li > ul > li > span:hover {
    background: #0c5283;
    color: #fff;
}

.iweb-selector > .virtual-choice > div > ul > li > ul > li > span:before {
    position: absolute;
    display: block;
    background: #000;
    content: '';
    width: 5px;
    height: 1px;
    top: 50%;
    left: 15px;
    margin-top: -1px;
}

.iweb-selector > .virtual-choice > div > ul > li > ul > li.virtual-node-selected > span:before,
.iweb-selector > .virtual-choice > div > ul > li > ul > li > span:hover:before {
    background: #fff;
}

.iweb-checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}

.iweb-checkbox * {
    cursor: pointer;
}

.iweb-checkbox > .virtual-option {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.iweb-checkbox > .virtual-option > div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.iweb-checkbox > .virtual-option > div:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 2px;
}

.iweb-checkbox > .virtual-option > div.checked:after {
    font-family: Arial,Helvetica,sans-serif;
    position: absolute;
    content: '✔';
    color: #4CAF50;
    font-size: 20px;
    top: -4px;
    left: 2px;
}

.iweb-checkbox > .virtual-option > div > input {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    cursor: pointer;
    z-index: 1;
}

.iweb-checkbox > .virtual-msg {
    position: relative;
    padding: 4px 8px;
    line-height: 1.5;
}

.iweb-radiobox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}

.iweb-radiobox * {
    cursor: pointer;
}

.iweb-radiobox > .virtual-option {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.iweb-radiobox > .virtual-option > div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.iweb-radiobox > .virtual-option > div:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.iweb-radiobox > .virtual-option > div.checked:after {
    font-family: Arial,Helvetica,sans-serif;
    position: absolute;
    background: #4CAF50;
    content: '';
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    border-radius: 50%;
    overflow: hidden;
}

.iweb-radiobox > .virtual-option > div > input {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    cursor: pointer;
    z-index: 1;
}

.iweb-radiobox > .virtual-msg {
    position: relative;
    padding: 4px 8px;
    line-height: 1.5;
}

.iweb-responsive {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.iweb-responsive > .video-frame {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.iweb-processing {
    position: fixed;
    background: #fff;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.iweb-processing-opacity{
    background: rgba(255,255,255,0.7);
}

.iweb-processing > .loading {
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
}

.iweb-processing > .loading > .icon {
    width: 100%;
}

.iweb-processing > .loading > .icon > circle {
    stroke: #0c5283;
}

.iweb-alert {
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    z-index: 800;
    -webkit-overflow-scrolling: touch;
}

.iweb-alert > div {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.iweb-alert > div:before {
    position: relative;
    display: inline-block;
    content: '';
    width: 0px;
    height: 82%;
    vertical-align: middle;
}
    
.iweb-alert .async-content {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.iweb-alert .async-content > div {
    position: relative;
    display: block;
    background: #fff;
    max-width: 360px;
    height: auto;
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
}

.iweb-alert .async-content > div > .message {
    position: relative;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    padding-top: 36px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 36px;
}

.iweb-alert .async-content > div > .btn-close {
    position: relative;
    background: transparent;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    padding: 8px;
    border-top: 1px solid #ccc;
}

.iweb-alert .async-content > div > .btn-yes {
    position: relative;
    background: transparent;
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    border: 0px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 8px;
}

.iweb-alert .async-content > div > .btn-no {
    position: relative;
    background: transparent;
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    border-top: 1px solid #ccc;
    padding: 8px;
}

.iweb-alert .async-content > div > .btn:hover,
.iweb-alert .async-content > div > .btn:active {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.iweb-dialog {
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    z-index: 700;
    -webkit-overflow-scrolling: touch;
}

.iweb-dialog > div {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.iweb-dialog .async-loading {
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
}

.iweb-dialog .async-loading > .icon {
    width: 100%;
}

.iweb-dialog .async-loading > .icon > circle {
    stroke: #fff;
}

.iweb-dialog .async-virtual {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.iweb-dialog .async-content {
    position: relative;
    max-width: 980px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: 1;
}

.iweb-dialog .async-content > .btn-close {
    position: absolute;
    background: #fff;
    font-family: Arial, Baskerville, monospace;
    font-size: 32px;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: -60px;
    left: 50%;
    margin-left: -20px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    z-index: 1;
}

.iweb-dialog .async-content > div {
    position: relative;
    background: #fff;
    min-height: 120px;
    border-radius: 4px;
    padding: 15px;
    overflow: hidden;
}

.iweb-dialog .async-content > div:before,
.iweb-dialog .async-content > div:after {
    position: relative;
    display: block;
    clear: both;
    content: '';
    width: 100%;
}

.iweb-pagination {
    position: relative;
    display: inline-block;
}

.iweb-pagination > ul {
    list-style: none;
    white-space: nowrap;
}

.iweb-pagination > ul > li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
}

.iweb-pagination > ul > li > a {
    position: relative;
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    padding: 4px;
    color: #000;
    min-width: 28px;
    height: 28px;
}

.iweb-pagination > ul > li > a.current {
    background: #ccc;
    color: #fff;
}

.iweb-pagination > ul > li > a > span {
    line-height: 20px;
}

.iweb-pagination > ul > li > a > i {
    position: absolute;
    border-color: #000;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    display: inline-block;
    top: 50%;
    left: 11px;
    padding: 3px;
    margin-top: -3px;
}

.iweb-pagination > ul > li > a.first > i {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.iweb-pagination > ul > li > a.prev > i {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.iweb-pagination > ul > li > a.next > i {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 8px;
}

.iweb-pagination > ul > li > a.last > i {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.iweb-pagination > ul > li > a.first > i:nth-child(1) {
    left: 14px;
}

.iweb-pagination > ul > li > a.first > i:nth-child(2) {
    left: 9px;
}

.iweb-pagination > ul > li > a.last > i:nth-child(1) {
    left: 6px;
}

.iweb-pagination > ul > li > a.last > i:nth-child(2) {
    left: 11px;
}

.iweb-pagination > ul > li > input[type="text"] {
    width: 46px;
    height: 28px;
    border: 1px solid #ccc;
    padding: 3px 6px;
    text-align: center;
}

.iweb-pagination > ul > li > a:hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.iscroll {
    position: relative;
    padding: 0px!important;
    margin: 0px!important;
    overflow: hidden!important;
}

.iscroll > .iscroll-content {
    position: relative!important;
    width: auto!important;
    height: auto;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    max-height: none;
    max-width: none!important;
    border: none!important;
    overflow: auto!important;
}

.iscroll > .iscroll-content::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.iscroll-element {
    display: none;
}

.iscroll-element.scroll-x.iscroll-scrollx-visible,
.iscroll-element.scroll-y.iscroll-scrolly-visible {
    display: block;
}

.iscroll-element .iscroll-bar,
.iscroll-element .iscroll-arrow {
    cursor: default;
}

.iscroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}

.iscroll-textarea > .iscroll-content {
    overflow: hidden!important;
}

.iscroll-textarea > .iscroll-content > textarea {
    position: relative!important;
    border: none!important;
    width: 100%!important;
    height: 100%!important;
    padding: 2px;
    margin: 0px;
    max-height: none!important;
    max-width: none!important;
    overflow: auto!important;
}

.iscroll-textarea > .iscroll-content>textarea::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.iscroll-inner > .iscroll-element,
.iscroll-inner > .iscroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.iscroll-inner > .iscroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.iscroll-inner > .iscroll-element.scroll-x {
    bottom: 2px;
    height: 6px;
    left: 0;
    width: 100%;
}

.iscroll-inner > .iscroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 6px;
}

.iscroll-inner > .iscroll-element .iscroll-element-outer {
    overflow: hidden;
}

.iscroll-inner > .iscroll-element .iscroll-element-outer,
.iscroll-inner > .iscroll-element .iscroll-element-track,
.iscroll-inner > .iscroll-element .iscroll-bar {
    border-radius: 6px;
}

.iscroll-inner > .iscroll-element .iscroll-element-track,
.iscroll-inner > .iscroll-element .iscroll-bar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.iscroll-inner > .iscroll-element .iscroll-element-track {
    background-color: #e0e0e0;
}

.iscroll-inner > .iscroll-element .iscroll-bar {
    background-color: #c2c2c2;
}

.iscroll-inner > .iscroll-element:hover .iscroll-bar {
    background-color: #919191;
}

.iscroll-inner > .iscroll-element.iscroll-draggable .iscroll-bar {
    background-color: #919191;
}

.iscroll-inner > .iscroll-element.scroll-x.iscroll-visible .iscroll-element-track {
    left: -6px;
}

.iscroll-inner > .iscroll-element.scroll-y.iscroll-scrollx-visible .iscroll-element-track {
    top: -6px;
}


.iscroll-inner > .iscroll-element.scroll-x.iscroll-visible .iscroll-element-size {
    left: -6px;
}

.iscroll-inner > .iscroll-element.scroll-y.iscroll-scrollx-visible .iscroll-element-size {
    top: -6px;
}

.iscroll-outer > .iscroll-element,
.iscroll-outer > .iscroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 200;
}

.iscroll-outer > .iscroll-element {
    background-color: #ffffff;
}

.iscroll-outer > .iscroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.iscroll-outer > .iscroll-element.scroll-x {
    bottom: 0;
    height: 6px;
    left: 0;
    width: 100%;
}

.iscroll-outer > .iscroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 6px;
}

.iscroll-outer > .iscroll-element.scroll-x .iscroll-element-outer {
    height: 6px;
    top: 2px;
}

.iscroll-outer > .iscroll-element.scroll-y .iscroll-element-outer {
    left: 2px;
    width: 6px;
}

.iscroll-outer > .iscroll-element .iscroll-element-outer {
    overflow: hidden;
}

.iscroll-outer > .iscroll-element .iscroll-element-track {
    background-color: #eeeeee;
}

.iscroll-outer > .iscroll-element .iscroll-element-outer,
.iscroll-outer > .iscroll-element .iscroll-element-track,
.iscroll-outer > .iscroll-element .iscroll-bar {
    border-radius: 6px;
}

.iscroll-outer > .iscroll-element .iscroll-bar {
    background-color: #d9d9d9;
}

.iscroll-outer > .iscroll-element .iscroll-bar:hover {
    background-color: #c2c2c2;
}

.iscroll-outer > .iscroll-element.iscroll-draggable .iscroll-bar {
    background-color: #919191;
}


.iscroll-outer > .iscroll-content.iscroll-visible {
    left: -6px;
    margin-left: 6px;
}

.iscroll-outer > .iscroll-content.iscroll-scrollx-visible {
    top: -6px;
    margin-top: 6px;
}

.iscroll-outer > .iscroll-element.scroll-x .iscroll-bar {
    min-width: 10px;
}

.iscroll-outer > .iscroll-element.scroll-y .iscroll-bar {
    min-height: 10px;
}

.iscroll-outer > .iscroll-element.scroll-x.iscroll-visible .iscroll-element-track {
    left: -14px;
}

.iscroll-outer > .iscroll-element.scroll-y.iscroll-scrollx-visible .iscroll-element-track {
    top: -14px;
}

.iscroll-outer > .iscroll-element.scroll-x.iscroll-visible .iscroll-element-size {
    left: -14px;
}

.iscroll-outer > .iscroll-element.scroll-y.iscroll-scrollx-visible .iscroll-element-size {
    top: -14px;
}

.iscroll-macosx > .iscroll-element,
.iscroll-macosx > .iscroll-element div {
    position: absolute;
    background: none;
    border: none;
    margin: 0px;
    padding: 0px;
    z-index: 200;
}

.iscroll-macosx > .iscroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.iscroll-macosx > .iscroll-element .iscroll-element-track {
    display: none;
}

.iscroll-macosx > .iscroll-element .iscroll-bar {
    background-color: #6C6E71;
    display: block;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    border-radius: 7px;

    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.iscroll-macosx:hover > .iscroll-element .iscroll-bar,
.iscroll-macosx > .iscroll-element.iscroll-draggable .iscroll-bar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}


.iscroll-macosx > .iscroll-element.scroll-x {
    bottom: 0px;
    height: 0px;
    left: 0;
    min-width: 100%;
    overflow: visible;
    width: 100%;
}

.iscroll-macosx > .iscroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 0px;
    top: 0;
    width: 0px;
}

.iscroll-macosx > .iscroll-element.scroll-x .iscroll-bar {
    height: 6px;
    min-width: 10px;
    top: -8px;
}

.iscroll-macosx > .iscroll-element.scroll-y .iscroll-bar {
    left: -8px;
    min-height: 10px;
    width: 6px;
}

.iscroll-macosx > .iscroll-element.scroll-x .iscroll-element-outer {
    left: 2px;
}

.iscroll-macosx > .iscroll-element.scroll-x .iscroll-element-size {
    left: -4px;
}

.iscroll-macosx > .iscroll-element.scroll-y .iscroll-element-outer {
    top: 2px;
}

.iscroll-macosx > .iscroll-element.scroll-y .iscroll-element-size {
    top: -4px;
}

.iscroll-macosx > .iscroll-element.scroll-x.iscroll-visible .iscroll-element-size {
    left: -11px;
}

.iscroll-macosx > .iscroll-element.scroll-y.iscroll-scrollx-visible .iscroll-element-size {
    top: -11px;
}

@media only screen and (max-width: 700px) {
    .iweb-selector > .real-choice > select.shidden {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    
    .iweb-selector > .virtual-choice {
        display: none;
    }
}